// Breakpoints
$breakpoint--large: 1200px;

// Colours
$color--black: #000;
$color--white: #fff;

// Text
$font-style--default: 'Roboto', sans-serif;
$font-style--brand: 'Libre Barcode 39 Text', cursive;
$font-size--large: 28px;
$font-size--brand-title: 55px;
