.contact-form-container {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;

  @media only screen and (min-width: $breakpoint--large) {
    width: 75%;
  }

  @media only screen and (min-width: $breakpoint--largest) {
    width: 50%;
  }
}

.contact-form__field-label {
  margin-bottom: 0;
}

.contact-form__field {
  border: $border--default;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.contact-form__field--message {
  height: 200px;
}

.contact-form__submit {
  align-self: flex-end;
}
