.products {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product {
  background-size: cover;
  color: $color--white;
}

.product--bike {
  background-image: url('https://images.pexels.com/photos/462036/pexels-photo-462036.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--camera {
  background-image: url('https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--car {
  background-image: url('https://images.pexels.com/photos/100650/pexels-photo-100650.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--hat {
  background-image: url('https://images.pexels.com/photos/8333/fashion-hat-straw-hat.jpg?h=350&auto=compress&cs=tinysrgb');
}

.product--holiday {
  background-image: url('https://images.pexels.com/photos/279574/pexels-photo-279574.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--kitchen {
  background-image: url('https://images.pexels.com/photos/276554/pexels-photo-276554.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--laptop {
  background-image: url('https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--motorcycle {
  background-image: url('https://images.pexels.com/photos/301584/pexels-photo-301584.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--perfume {
  background-image: url('https://images.pexels.com/photos/258244/pexels-photo-258244.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--phone {
  background-image: url('https://images.pexels.com/photos/226664/pexels-photo-226664.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--shoes {
  background-image: url('https://images.pexels.com/photos/19090/pexels-photo.jpg?h=350&auto=compress&cs=tinysrgb');
}

.product--sofa {
  background-image: url('https://images.pexels.com/photos/276583/pexels-photo-276583.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--sunglasses {
  background-image: url('https://images.pexels.com/photos/371723/pexels-photo-371723.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--toy {
  background-image: url('https://images.pexels.com/photos/158837/pexels-photo-158837.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product--watch {
  background-image: url('https://images.pexels.com/photos/84475/night-product-watch-dramatic-84475.jpeg?h=350&auto=compress&cs=tinysrgb');
}

.product__overlay {
  opacity: 0;
  padding: 1em;
  transition: background-color .25s ease-in, opacity .25s ease-in;

  &:hover {
    background-color: $color--black;
    opacity: 1;
    transition: background-color .5s ease-in, opacity .5s ease-in;
  }
 }
